* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: white;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

#header, #designed-by {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: #ffffff;
}

#header ul li {
  list-style: none;
  font-size: 18px;
  padding: 5px 0px 5px 0px;

}


h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  color: #ffffff;
}

#footer {
  background-color: yellow;
  color: #ffffff;
  text-align: left;
}

#footer ul li {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: inline;
}

#footer #copyright {
  font-size: 11px;
}
